body {
  text-align: center;
}

#wrapper {
  text-align: left;
}

#header {
  margin-top: 24px;
}

#header h1 {
  line-height: 72px;
  background: url(/resources/public/clojure-logo.png) no-repeat;
  padding-left: 75px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 48px;
}

#header h1 span.logo-try {
  color: #63b132;
  display:inline;
}

#header h1 span.logo-clojure {
  color: #5881d8;
  display:inline
}

.main_block > .CodeMirror {
  height: 300px;
}

.CodeMirror-gutter {
  height: 100%;
  display: inline-block;
}

.row-fluid {
  margin-bottom: 10px;
}

.overlay {
  position: relative;
  margin: -10px;
  z-index: 10;
}
